<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All sites</title>
    <link href="css/style_for_all.css" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th><h1>Sites URL</h1></th>
        <th><h1>STATUS</h1></th>
    </tr>
    <th:block th:each="checkResults : ${checkResult}">
        <tr>
            <td th:text="${checkResults.url}"></td>
            <td th:text="${checkResults.status}"></td>
        </tr>
    </th:block>
    <a href="/add"><h2>Add site</h2></a>
</table>
</body>
</html>